[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	color: #000000;
	fill: currentColor;
}
.icon-home {
	width: 32px;
	height: 32px;
}
#icon-home .path1 {
	fill: currentcolor;
}
.icon-home2 {
	width: 32px;
	height: 32px;
}
#icon-home2 .path1 {
	fill: currentcolor;
}
.icon-home3 {
	width: 32px;
	height: 32px;
}
#icon-home3 .path1 {
	fill: currentcolor;
}
.icon-office {
	width: 32px;
	height: 32px;
}
#icon-office .path1 {
	fill: currentcolor;
}
.icon-newspaper {
	width: 32px;
	height: 32px;
}
#icon-newspaper .path1 {
	fill: currentcolor;
}
.icon-pencil {
	width: 32px;
	height: 32px;
}
#icon-pencil .path1 {
	fill: currentcolor;
}
.icon-pencil2 {
	width: 32px;
	height: 32px;
}
#icon-pencil2 .path1 {
	fill: currentcolor;
}
.icon-quill {
	width: 32px;
	height: 32px;
}
#icon-quill .path1 {
	fill: currentcolor;
}
.icon-pen {
	width: 32px;
	height: 32px;
}
#icon-pen .path1 {
	fill: currentcolor;
}
.icon-blog {
	width: 32px;
	height: 32px;
}
#icon-blog .path1 {
	fill: currentcolor;
}
.icon-droplet {
	width: 32px;
	height: 32px;
}
#icon-droplet .path1 {
	fill: currentcolor;
}
.icon-paint-format {
	width: 32px;
	height: 32px;
}
#icon-paint-format .path1 {
	fill: currentcolor;
}
.icon-image {
	width: 32px;
	height: 32px;
}
#icon-image .path1 {
	fill: currentcolor;
}
.icon-image2 {
	width: 32px;
	height: 32px;
}
#icon-image2 .path1 {
	fill: currentcolor;
}
.icon-images {
	width: 32px;
	height: 32px;
}
#icon-images .path1 {
	fill: currentcolor;
}
.icon-camera {
	width: 32px;
	height: 32px;
}
#icon-camera .path1 {
	fill: currentcolor;
}
.icon-music {
	width: 32px;
	height: 32px;
}
#icon-music .path1 {
	fill: currentcolor;
}
.icon-headphones {
	width: 32px;
	height: 32px;
}
#icon-headphones .path1 {
	fill: currentcolor;
}
.icon-play {
	width: 32px;
	height: 32px;
}
#icon-play .path1 {
	fill: currentcolor;
}
.icon-film {
	width: 32px;
	height: 32px;
}
#icon-film .path1 {
	fill: currentcolor;
}
.icon-camera2 {
	width: 32px;
	height: 32px;
}
#icon-camera2 .path1 {
	fill: currentcolor;
}
.icon-dice {
	width: 32px;
	height: 32px;
}
#icon-dice .path1 {
	fill: currentcolor;
}
.icon-pacman {
	width: 32px;
	height: 32px;
}
#icon-pacman .path1 {
	fill: currentcolor;
}
.icon-spades {
	width: 32px;
	height: 32px;
}
#icon-spades .path1 {
	fill: currentcolor;
}
.icon-clubs {
	width: 32px;
	height: 32px;
}
#icon-clubs .path1 {
	fill: currentcolor;
}
.icon-diamonds {
	width: 32px;
	height: 32px;
}
#icon-diamonds .path1 {
	fill: currentcolor;
}
.icon-pawn {
	width: 32px;
	height: 32px;
}
#icon-pawn .path1 {
	fill: currentcolor;
}
.icon-bullhorn {
	width: 32px;
	height: 32px;
}
#icon-bullhorn .path1 {
	fill: currentcolor;
}
.icon-connection {
	width: 40px;
	height: 32px;
}
#icon-connection .path1 {
	fill: currentcolor;
}
.icon-podcast {
	width: 32px;
	height: 32px;
}
#icon-podcast .path1 {
	fill: currentcolor;
}
.icon-feed {
	width: 32px;
	height: 32px;
}
#icon-feed .path1 {
	fill: currentcolor;
}
.icon-book {
	width: 32px;
	height: 32px;
}
#icon-book .path1 {
	fill: currentcolor;
}
.icon-books {
	width: 32px;
	height: 32px;
}
#icon-books .path1 {
	fill: currentcolor;
}
.icon-library {
	width: 32px;
	height: 32px;
}
#icon-library .path1 {
	fill: currentcolor;
}
.icon-file {
	width: 32px;
	height: 32px;
}
#icon-file .path1 {
	fill: currentcolor;
}
.icon-profile {
	width: 32px;
	height: 32px;
}
#icon-profile .path1 {
	fill: currentcolor;
}
.icon-file2 {
	width: 32px;
	height: 32px;
}
#icon-file2 .path1 {
	fill: currentcolor;
}
.icon-file3 {
	width: 32px;
	height: 32px;
}
#icon-file3 .path1 {
	fill: currentcolor;
}
.icon-file4 {
	width: 32px;
	height: 32px;
}
#icon-file4 .path1 {
	fill: currentcolor;
}
.icon-copy {
	width: 32px;
	height: 32px;
}
#icon-copy .path1 {
	fill: currentcolor;
}
.icon-copy2 {
	width: 32px;
	height: 32px;
}
#icon-copy2 .path1 {
	fill: currentcolor;
}
.icon-copy3 {
	width: 32px;
	height: 32px;
}
#icon-copy3 .path1 {
	fill: currentcolor;
}
.icon-paste {
	width: 32px;
	height: 32px;
}
#icon-paste .path1 {
	fill: currentcolor;
}
.icon-paste2 {
	width: 32px;
	height: 32px;
}
#icon-paste2 .path1 {
	fill: currentcolor;
}
.icon-paste3 {
	width: 32px;
	height: 32px;
}
#icon-paste3 .path1 {
	fill: currentcolor;
}
.icon-stack {
	width: 32px;
	height: 32px;
}
#icon-stack .path1 {
	fill: currentcolor;
}
.icon-folder {
	width: 32px;
	height: 32px;
}
#icon-folder .path1 {
	fill: currentcolor;
}
.icon-folder-open {
	width: 32px;
	height: 32px;
}
#icon-folder-open .path1 {
	fill: currentcolor;
}
.icon-tag {
	width: 32px;
	height: 32px;
}
#icon-tag .path1 {
	fill: currentcolor;
}
.icon-tags {
	width: 34px;
	height: 32px;
}
#icon-tags .path1 {
	fill: currentcolor;
}
.icon-barcode {
	width: 32px;
	height: 32px;
}
#icon-barcode .path1 {
	fill: currentcolor;
}
.icon-qrcode {
	width: 32px;
	height: 32px;
}
#icon-qrcode .path1 {
	fill: currentcolor;
}
.icon-ticket {
	width: 32px;
	height: 32px;
}
#icon-ticket .path1 {
	fill: currentcolor;
}
.icon-cart {
	width: 32px;
	height: 32px;
}
#icon-cart .path1 {
	fill: currentcolor;
}
.icon-cart2 {
	width: 32px;
	height: 32px;
}
#icon-cart2 .path1 {
	fill: currentcolor;
}
.icon-cart3 {
	width: 32px;
	height: 32px;
}
#icon-cart3 .path1 {
	fill: currentcolor;
}
.icon-coin {
	width: 32px;
	height: 32px;
}
#icon-coin .path1 {
	fill: currentcolor;
}
.icon-credit {
	width: 32px;
	height: 32px;
}
#icon-credit .path1 {
	fill: currentcolor;
}
.icon-calculate {
	width: 32px;
	height: 32px;
}
#icon-calculate .path1 {
	fill: currentcolor;
}
.icon-support {
	width: 32px;
	height: 32px;
}
#icon-support .path1 {
	fill: currentcolor;
}
.icon-phone {
	width: 32px;
	height: 32px;
}
#icon-phone .path1 {
	fill: currentcolor;
}
.icon-phone-hang-up {
	width: 32px;
	height: 32px;
}
#icon-phone-hang-up .path1 {
	fill: currentcolor;
}
.icon-address-book {
	width: 32px;
	height: 32px;
}
#icon-address-book .path1 {
	fill: currentcolor;
}
.icon-notebook {
	width: 32px;
	height: 32px;
}
#icon-notebook .path1 {
	fill: currentcolor;
}
.icon-envelope {
	width: 32px;
	height: 32px;
}
#icon-envelope .path1 {
	fill: currentcolor;
}
.icon-pushpin {
	width: 32px;
	height: 32px;
}
#icon-pushpin .path1 {
	fill: currentcolor;
}
.icon-location {
	width: 32px;
	height: 32px;
}
#icon-location .path1 {
	fill: currentcolor;
}
.icon-location2 {
	width: 32px;
	height: 32px;
}
#icon-location2 .path1 {
	fill: currentcolor;
}
.icon-compass {
	width: 32px;
	height: 32px;
}
#icon-compass .path1 {
	fill: currentcolor;
}
.icon-map {
	width: 32px;
	height: 32px;
}
#icon-map .path1 {
	fill: currentcolor;
}
.icon-map2 {
	width: 32px;
	height: 32px;
}
#icon-map2 .path1 {
	fill: currentcolor;
}
.icon-history {
	width: 32px;
	height: 32px;
}
#icon-history .path1 {
	fill: currentcolor;
}
.icon-clock {
	width: 32px;
	height: 32px;
}
#icon-clock .path1 {
	fill: currentcolor;
}
.icon-clock2 {
	width: 32px;
	height: 32px;
}
#icon-clock2 .path1 {
	fill: currentcolor;
}
.icon-alarm {
	width: 32px;
	height: 32px;
}
#icon-alarm .path1 {
	fill: currentcolor;
}
.icon-alarm2 {
	width: 32px;
	height: 32px;
}
#icon-alarm2 .path1 {
	fill: currentcolor;
}
.icon-bell {
	width: 32px;
	height: 32px;
}
#icon-bell .path1 {
	fill: currentcolor;
}
.icon-stopwatch {
	width: 32px;
	height: 32px;
}
#icon-stopwatch .path1 {
	fill: currentcolor;
}
.icon-calendar {
	width: 32px;
	height: 32px;
}
#icon-calendar .path1 {
	fill: currentcolor;
}
.icon-calendar2 {
	width: 32px;
	height: 32px;
}
#icon-calendar2 .path1 {
	fill: currentcolor;
}
.icon-print {
	width: 32px;
	height: 32px;
}
#icon-print .path1 {
	fill: currentcolor;
}
.icon-keyboard {
	width: 36px;
	height: 32px;
}
#icon-keyboard .path1 {
	fill: currentcolor;
}
.icon-screen {
	width: 32px;
	height: 32px;
}
#icon-screen .path1 {
	fill: currentcolor;
}
.icon-laptop {
	width: 32px;
	height: 32px;
}
#icon-laptop .path1 {
	fill: currentcolor;
}
.icon-mobile {
	width: 32px;
	height: 32px;
}
#icon-mobile .path1 {
	fill: currentcolor;
}
.icon-mobile2 {
	width: 32px;
	height: 32px;
}
#icon-mobile2 .path1 {
	fill: currentcolor;
}
.icon-tablet {
	width: 32px;
	height: 32px;
}
#icon-tablet .path1 {
	fill: currentcolor;
}
.icon-tv {
	width: 32px;
	height: 32px;
}
#icon-tv .path1 {
	fill: currentcolor;
}
.icon-cabinet {
	width: 32px;
	height: 32px;
}
#icon-cabinet .path1 {
	fill: currentcolor;
}
.icon-drawer {
	width: 32px;
	height: 32px;
}
#icon-drawer .path1 {
	fill: currentcolor;
}
.icon-drawer2 {
	width: 32px;
	height: 32px;
}
#icon-drawer2 .path1 {
	fill: currentcolor;
}
.icon-drawer3 {
	width: 32px;
	height: 32px;
}
#icon-drawer3 .path1 {
	fill: currentcolor;
}
.icon-box-add {
	width: 32px;
	height: 32px;
}
#icon-box-add .path1 {
	fill: currentcolor;
}
.icon-box-remove {
	width: 32px;
	height: 32px;
}
#icon-box-remove .path1 {
	fill: currentcolor;
}
.icon-download {
	width: 32px;
	height: 32px;
}
#icon-download .path1 {
	fill: currentcolor;
}
.icon-upload {
	width: 32px;
	height: 32px;
}
#icon-upload .path1 {
	fill: currentcolor;
}
.icon-disk {
	width: 32px;
	height: 32px;
}
#icon-disk .path1 {
	fill: currentcolor;
}
.icon-storage {
	width: 32px;
	height: 32px;
}
#icon-storage .path1 {
	fill: currentcolor;
}
.icon-undo {
	width: 32px;
	height: 32px;
}
#icon-undo .path1 {
	fill: currentcolor;
}
.icon-redo {
	width: 32px;
	height: 32px;
}
#icon-redo .path1 {
	fill: currentcolor;
}
.icon-flip {
	width: 32px;
	height: 32px;
}
#icon-flip .path1 {
	fill: currentcolor;
}
.icon-flip2 {
	width: 32px;
	height: 32px;
}
#icon-flip2 .path1 {
	fill: currentcolor;
}
.icon-undo2 {
	width: 32px;
	height: 32px;
}
#icon-undo2 .path1 {
	fill: currentcolor;
}
.icon-redo2 {
	width: 32px;
	height: 32px;
}
#icon-redo2 .path1 {
	fill: currentcolor;
}
.icon-forward {
	width: 32px;
	height: 32px;
}
#icon-forward .path1 {
	fill: currentcolor;
}
.icon-reply {
	width: 32px;
	height: 32px;
}
#icon-reply .path1 {
	fill: currentcolor;
}
.icon-bubble {
	width: 32px;
	height: 32px;
}
#icon-bubble .path1 {
	fill: currentcolor;
}
.icon-bubbles {
	width: 36px;
	height: 32px;
}
#icon-bubbles .path1 {
	fill: currentcolor;
}
.icon-bubbles2 {
	width: 36px;
	height: 32px;
}
#icon-bubbles2 .path1 {
	fill: currentcolor;
}
.icon-bubble2 {
	width: 32px;
	height: 32px;
}
#icon-bubble2 .path1 {
	fill: currentcolor;
}
.icon-bubbles3 {
	width: 36px;
	height: 32px;
}
#icon-bubbles3 .path1 {
	fill: currentcolor;
}
.icon-bubbles4 {
	width: 36px;
	height: 32px;
}
#icon-bubbles4 .path1 {
	fill: currentcolor;
}
.icon-user {
	width: 32px;
	height: 32px;
}
#icon-user .path1 {
	fill: currentcolor;
}
.icon-users {
	width: 32px;
	height: 32px;
}
#icon-users .path1 {
	fill: currentcolor;
}
.icon-user2 {
	width: 32px;
	height: 32px;
}
#icon-user2 .path1 {
	fill: currentcolor;
}
.icon-users2 {
	width: 32px;
	height: 32px;
}
#icon-users2 .path1 {
	fill: currentcolor;
}
.icon-user3 {
	width: 32px;
	height: 32px;
}
#icon-user3 .path1 {
	fill: currentcolor;
}
.icon-user4 {
	width: 32px;
	height: 32px;
}
#icon-user4 .path1 {
	fill: currentcolor;
}
.icon-quotes-left {
	width: 32px;
	height: 32px;
}
#icon-quotes-left .path1 {
	fill: currentcolor;
}
.icon-busy {
	width: 32px;
	height: 32px;
}
#icon-busy .path1 {
	fill: currentcolor;
}
.icon-spinner {
	width: 32px;
	height: 32px;
}
#icon-spinner .path1 {
	fill: currentcolor;
}
.icon-spinner2 {
	width: 32px;
	height: 32px;
}
#icon-spinner2 .path1 {
	fill: currentcolor;
}
.icon-spinner3 {
	width: 32px;
	height: 32px;
}
#icon-spinner3 .path1 {
	fill: currentcolor;
}
.icon-spinner4 {
	width: 32px;
	height: 32px;
}
#icon-spinner4 .path1 {
	fill: currentcolor;
}
.icon-spinner5 {
	width: 32px;
	height: 32px;
}
#icon-spinner5 .path1 {
	fill: currentcolor;
}
.icon-spinner6 {
	width: 32px;
	height: 32px;
}
#icon-spinner6 .path1 {
	fill: currentcolor;
}
.icon-binoculars {
	width: 32px;
	height: 32px;
}
#icon-binoculars .path1 {
	fill: currentcolor;
}
.icon-search {
	width: 32px;
	height: 32px;
}
#icon-search .path1 {
	fill: currentcolor;
}
.icon-zoomin {
	width: 32px;
	height: 32px;
}
#icon-zoomin .path1 {
	fill: currentcolor;
}
.icon-zoomout {
	width: 32px;
	height: 32px;
}
#icon-zoomout .path1 {
	fill: currentcolor;
}
.icon-expand {
	width: 32px;
	height: 32px;
}
#icon-expand .path1 {
	fill: currentcolor;
}
.icon-contract {
	width: 32px;
	height: 32px;
}
#icon-contract .path1 {
	fill: currentcolor;
}
.icon-expand2 {
	width: 32px;
	height: 32px;
}
#icon-expand2 .path1 {
	fill: currentcolor;
}
.icon-contract2 {
	width: 32px;
	height: 32px;
}
#icon-contract2 .path1 {
	fill: currentcolor;
}
.icon-key {
	width: 32px;
	height: 32px;
}
#icon-key .path1 {
	fill: currentcolor;
}
.icon-key2 {
	width: 32px;
	height: 32px;
}
#icon-key2 .path1 {
	fill: currentcolor;
}
.icon-lock {
	width: 32px;
	height: 32px;
}
#icon-lock .path1 {
	fill: currentcolor;
}
.icon-lock2 {
	width: 32px;
	height: 32px;
}
#icon-lock2 .path1 {
	fill: currentcolor;
}
.icon-unlocked {
	width: 32px;
	height: 32px;
}
#icon-unlocked .path1 {
	fill: currentcolor;
}
.icon-wrench {
	width: 32px;
	height: 32px;
}
#icon-wrench .path1 {
	fill: currentcolor;
}
.icon-settings {
	width: 32px;
	height: 32px;
}
#icon-settings .path1 {
	fill: currentcolor;
}
.icon-equalizer {
	width: 32px;
	height: 32px;
}
#icon-equalizer .path1 {
	fill: currentcolor;
}
.icon-cog {
	width: 32px;
	height: 32px;
}
#icon-cog .path1 {
	fill: currentcolor;
}
.icon-cogs {
	width: 32px;
	height: 32px;
}
#icon-cogs .path1 {
	fill: currentcolor;
}
.icon-cog2 {
	width: 32px;
	height: 32px;
}
#icon-cog2 .path1 {
	fill: currentcolor;
}
.icon-hammer {
	width: 32px;
	height: 32px;
}
#icon-hammer .path1 {
	fill: currentcolor;
}
.icon-wand {
	width: 32px;
	height: 32px;
}
#icon-wand .path1 {
	fill: currentcolor;
}
.icon-aid {
	width: 32px;
	height: 32px;
}
#icon-aid .path1 {
	fill: currentcolor;
}
.icon-bug {
	width: 32px;
	height: 32px;
}
#icon-bug .path1 {
	fill: currentcolor;
}
.icon-pie {
	width: 32px;
	height: 32px;
}
#icon-pie .path1 {
	fill: currentcolor;
}
.icon-stats {
	width: 32px;
	height: 32px;
}
#icon-stats .path1 {
	fill: currentcolor;
}
.icon-bars {
	width: 32px;
	height: 32px;
}
#icon-bars .path1 {
	fill: currentcolor;
}
.icon-bars2 {
	width: 32px;
	height: 32px;
}
#icon-bars2 .path1 {
	fill: currentcolor;
}
.icon-gift {
	width: 32px;
	height: 32px;
}
#icon-gift .path1 {
	fill: currentcolor;
}
.icon-trophy {
	width: 32px;
	height: 32px;
}
#icon-trophy .path1 {
	fill: currentcolor;
}
.icon-glass {
	width: 32px;
	height: 32px;
}
#icon-glass .path1 {
	fill: currentcolor;
}
.icon-mug {
	width: 32px;
	height: 32px;
}
#icon-mug .path1 {
	fill: currentcolor;
}
.icon-food {
	width: 32px;
	height: 32px;
}
#icon-food .path1 {
	fill: currentcolor;
}
.icon-leaf {
	width: 32px;
	height: 32px;
}
#icon-leaf .path1 {
	fill: currentcolor;
}
.icon-rocket {
	width: 32px;
	height: 32px;
}
#icon-rocket .path1 {
	fill: currentcolor;
}
.icon-meter {
	width: 32px;
	height: 32px;
}
#icon-meter .path1 {
	fill: currentcolor;
}
.icon-meter2 {
	width: 32px;
	height: 32px;
}
#icon-meter2 .path1 {
	fill: currentcolor;
}
.icon-dashboard {
	width: 32px;
	height: 32px;
}
#icon-dashboard .path1 {
	fill: currentcolor;
}
.icon-hammer2 {
	width: 32px;
	height: 32px;
}
#icon-hammer2 .path1 {
	fill: currentcolor;
}
.icon-fire {
	width: 32px;
	height: 32px;
}
#icon-fire .path1 {
	fill: currentcolor;
}
.icon-lab {
	width: 32px;
	height: 32px;
}
#icon-lab .path1 {
	fill: currentcolor;
}
.icon-magnet {
	width: 32px;
	height: 32px;
}
#icon-magnet .path1 {
	fill: currentcolor;
}
.icon-remove {
	width: 32px;
	height: 32px;
}
#icon-remove .path1 {
	fill: currentcolor;
}
.icon-remove2 {
	width: 32px;
	height: 32px;
}
#icon-remove2 .path1 {
	fill: currentcolor;
}
.icon-briefcase {
	width: 32px;
	height: 32px;
}
#icon-briefcase .path1 {
	fill: currentcolor;
}
.icon-airplane {
	width: 32px;
	height: 32px;
}
#icon-airplane .path1 {
	fill: currentcolor;
}
.icon-truck {
	width: 32px;
	height: 32px;
}
#icon-truck .path1 {
	fill: currentcolor;
}
.icon-road {
	width: 32px;
	height: 32px;
}
#icon-road .path1 {
	fill: currentcolor;
}
.icon-accessibility {
	width: 32px;
	height: 32px;
}
#icon-accessibility .path1 {
	fill: currentcolor;
}
.icon-target {
	width: 32px;
	height: 32px;
}
#icon-target .path1 {
	fill: currentcolor;
}
.icon-shield {
	width: 32px;
	height: 32px;
}
#icon-shield .path1 {
	fill: currentcolor;
}
.icon-lightning {
	width: 32px;
	height: 32px;
}
#icon-lightning .path1 {
	fill: currentcolor;
}
.icon-switch {
	width: 32px;
	height: 32px;
}
#icon-switch .path1 {
	fill: currentcolor;
}
.icon-powercord {
	width: 32px;
	height: 32px;
}
#icon-powercord .path1 {
	fill: currentcolor;
}
.icon-signup {
	width: 32px;
	height: 32px;
}
#icon-signup .path1 {
	fill: currentcolor;
}
.icon-list {
	width: 32px;
	height: 32px;
}
#icon-list .path1 {
	fill: currentcolor;
}
.icon-list2 {
	width: 32px;
	height: 32px;
}
#icon-list2 .path1 {
	fill: currentcolor;
}
.icon-numbered-list {
	width: 32px;
	height: 32px;
}
#icon-numbered-list .path1 {
	fill: currentcolor;
}
.icon-menu {
	width: 32px;
	height: 32px;
}
#icon-menu .path1 {
	fill: currentcolor;
}
.icon-menu2 {
	width: 32px;
	height: 32px;
}
#icon-menu2 .path1 {
	fill: currentcolor;
}
.icon-tree {
	width: 32px;
	height: 32px;
}
#icon-tree .path1 {
	fill: currentcolor;
}
.icon-cloud {
	width: 32px;
	height: 32px;
}
#icon-cloud .path1 {
	fill: currentcolor;
}
.icon-cloud-download {
	width: 32px;
	height: 32px;
}
#icon-cloud-download .path1 {
	fill: currentcolor;
}
.icon-cloud-upload {
	width: 32px;
	height: 32px;
}
#icon-cloud-upload .path1 {
	fill: currentcolor;
}
.icon-download2 {
	width: 32px;
	height: 32px;
}
#icon-download2 .path1 {
	fill: currentcolor;
}
.icon-upload2 {
	width: 32px;
	height: 32px;
}
#icon-upload2 .path1 {
	fill: currentcolor;
}
.icon-download3 {
	width: 32px;
	height: 32px;
}
#icon-download3 .path1 {
	fill: currentcolor;
}
.icon-upload3 {
	width: 32px;
	height: 32px;
}
#icon-upload3 .path1 {
	fill: currentcolor;
}
.icon-globe {
	width: 32px;
	height: 32px;
}
#icon-globe .path1 {
	fill: currentcolor;
}
.icon-earth {
	width: 32px;
	height: 32px;
}
#icon-earth .path1 {
	fill: currentcolor;
}
.icon-link {
	width: 32px;
	height: 32px;
}
#icon-link .path1 {
	fill: currentcolor;
}
.icon-flag {
	width: 32px;
	height: 32px;
}
#icon-flag .path1 {
	fill: currentcolor;
}
.icon-attachment {
	width: 32px;
	height: 32px;
}
#icon-attachment .path1 {
	fill: currentcolor;
}
.icon-eye {
	width: 32px;
	height: 32px;
}
#icon-eye .path1 {
	fill: currentcolor;
}
.icon-eye-blocked {
	width: 32px;
	height: 32px;
}
#icon-eye-blocked .path1 {
	fill: currentcolor;
}
.icon-eye2 {
	width: 32px;
	height: 32px;
}
#icon-eye2 .path1 {
	fill: currentcolor;
}
.icon-bookmark {
	width: 32px;
	height: 32px;
}
#icon-bookmark .path1 {
	fill: currentcolor;
}
.icon-bookmarks {
	width: 32px;
	height: 32px;
}
#icon-bookmarks .path1 {
	fill: currentcolor;
}
.icon-brightness-medium {
	width: 32px;
	height: 32px;
}
#icon-brightness-medium .path1 {
	fill: currentcolor;
}
.icon-brightness-contrast {
	width: 32px;
	height: 32px;
}
#icon-brightness-contrast .path1 {
	fill: currentcolor;
}
.icon-contrast {
	width: 32px;
	height: 32px;
}
#icon-contrast .path1 {
	fill: currentcolor;
}
.icon-star {
	width: 32px;
	height: 32px;
}
#icon-star .path1 {
	fill: currentcolor;
}
.icon-star2 {
	width: 32px;
	height: 32px;
}
#icon-star2 .path1 {
	fill: currentcolor;
}
.icon-star3 {
	width: 32px;
	height: 32px;
}
#icon-star3 .path1 {
	fill: currentcolor;
}
.icon-heart {
	width: 32px;
	height: 32px;
}
#icon-heart .path1 {
	fill: currentcolor;
}
.icon-heart2 {
	width: 32px;
	height: 32px;
}
#icon-heart2 .path1 {
	fill: currentcolor;
}
.icon-heart-broken {
	width: 32px;
	height: 32px;
}
#icon-heart-broken .path1 {
	fill: currentcolor;
}
.icon-thumbs-up {
	width: 32px;
	height: 32px;
}
#icon-thumbs-up .path1 {
	fill: currentcolor;
}
.icon-thumbs-up2 {
	width: 32px;
	height: 32px;
}
#icon-thumbs-up2 .path1 {
	fill: currentcolor;
}
.icon-happy {
	width: 32px;
	height: 32px;
}
#icon-happy .path1 {
	fill: currentcolor;
}
.icon-happy2 {
	width: 32px;
	height: 32px;
}
#icon-happy2 .path1 {
	fill: currentcolor;
}
.icon-smiley {
	width: 32px;
	height: 32px;
}
#icon-smiley .path1 {
	fill: currentcolor;
}
.icon-smiley2 {
	width: 32px;
	height: 32px;
}
#icon-smiley2 .path1 {
	fill: currentcolor;
}
.icon-tongue {
	width: 32px;
	height: 32px;
}
#icon-tongue .path1 {
	fill: currentcolor;
}
.icon-tongue2 {
	width: 32px;
	height: 32px;
}
#icon-tongue2 .path1 {
	fill: currentcolor;
}
.icon-sad {
	width: 32px;
	height: 32px;
}
#icon-sad .path1 {
	fill: currentcolor;
}
.icon-sad2 {
	width: 32px;
	height: 32px;
}
#icon-sad2 .path1 {
	fill: currentcolor;
}
.icon-wink {
	width: 32px;
	height: 32px;
}
#icon-wink .path1 {
	fill: currentcolor;
}
.icon-wink2 {
	width: 32px;
	height: 32px;
}
#icon-wink2 .path1 {
	fill: currentcolor;
}
.icon-grin {
	width: 32px;
	height: 32px;
}
#icon-grin .path1 {
	fill: currentcolor;
}
.icon-grin2 {
	width: 32px;
	height: 32px;
}
#icon-grin2 .path1 {
	fill: currentcolor;
}
.icon-cool {
	width: 32px;
	height: 32px;
}
#icon-cool .path1 {
	fill: currentcolor;
}
.icon-cool2 {
	width: 32px;
	height: 32px;
}
#icon-cool2 .path1 {
	fill: currentcolor;
}
.icon-angry {
	width: 32px;
	height: 32px;
}
#icon-angry .path1 {
	fill: currentcolor;
}
.icon-angry2 {
	width: 32px;
	height: 32px;
}
#icon-angry2 .path1 {
	fill: currentcolor;
}
.icon-evil {
	width: 32px;
	height: 32px;
}
#icon-evil .path1 {
	fill: currentcolor;
}
.icon-evil2 {
	width: 32px;
	height: 32px;
}
#icon-evil2 .path1 {
	fill: currentcolor;
}
.icon-shocked {
	width: 32px;
	height: 32px;
}
#icon-shocked .path1 {
	fill: currentcolor;
}
.icon-shocked2 {
	width: 32px;
	height: 32px;
}
#icon-shocked2 .path1 {
	fill: currentcolor;
}
.icon-confused {
	width: 32px;
	height: 32px;
}
#icon-confused .path1 {
	fill: currentcolor;
}
.icon-confused2 {
	width: 32px;
	height: 32px;
}
#icon-confused2 .path1 {
	fill: currentcolor;
}
.icon-neutral {
	width: 32px;
	height: 32px;
}
#icon-neutral .path1 {
	fill: currentcolor;
}
.icon-neutral2 {
	width: 32px;
	height: 32px;
}
#icon-neutral2 .path1 {
	fill: currentcolor;
}
.icon-wondering {
	width: 32px;
	height: 32px;
}
#icon-wondering .path1 {
	fill: currentcolor;
}
.icon-wondering2 {
	width: 32px;
	height: 32px;
}
#icon-wondering2 .path1 {
	fill: currentcolor;
}
.icon-point-up {
	width: 32px;
	height: 32px;
}
#icon-point-up .path1 {
	fill: currentcolor;
}
.icon-point-right {
	width: 32px;
	height: 32px;
}
#icon-point-right .path1 {
	fill: currentcolor;
}
.icon-point-down {
	width: 32px;
	height: 32px;
}
#icon-point-down .path1 {
	fill: currentcolor;
}
.icon-point-left {
	width: 32px;
	height: 32px;
}
#icon-point-left .path1 {
	fill: currentcolor;
}
.icon-warning {
	width: 32px;
	height: 32px;
}
#icon-warning .path1 {
	fill: currentcolor;
}
.icon-notification {
	width: 32px;
	height: 32px;
}
#icon-notification .path1 {
	fill: currentcolor;
}
.icon-question {
	width: 32px;
	height: 32px;
}
#icon-question .path1 {
	fill: currentcolor;
}
.icon-info {
	width: 32px;
	height: 32px;
}
#icon-info .path1 {
	fill: currentcolor;
}
.icon-info2 {
	width: 32px;
	height: 32px;
}
#icon-info2 .path1 {
	fill: currentcolor;
}
.icon-blocked {
	width: 32px;
	height: 32px;
}
#icon-blocked .path1 {
	fill: currentcolor;
}
.icon-cancel-circle {
	width: 32px;
	height: 32px;
}
#icon-cancel-circle .path1 {
	fill: currentcolor;
}
.icon-checkmark-circle {
	width: 32px;
	height: 32px;
}
#icon-checkmark-circle .path1 {
	fill: currentcolor;
}
.icon-spam {
	width: 32px;
	height: 32px;
}
#icon-spam .path1 {
	fill: currentcolor;
}
.icon-close {
	width: 32px;
	height: 32px;
}
#icon-close .path1 {
	fill: currentcolor;
}
.icon-checkmark {
	width: 32px;
	height: 32px;
}
#icon-checkmark .path1 {
	fill: currentcolor;
}
.icon-checkmark2 {
	width: 32px;
	height: 32px;
}
#icon-checkmark2 .path1 {
	fill: currentcolor;
}
.icon-spell-check {
	width: 32px;
	height: 32px;
}
#icon-spell-check .path1 {
	fill: currentcolor;
}
.icon-minus {
	width: 32px;
	height: 32px;
}
#icon-minus .path1 {
	fill: currentcolor;
}
.icon-plus {
	width: 32px;
	height: 32px;
}
#icon-plus .path1 {
	fill: currentcolor;
}
.icon-enter {
	width: 32px;
	height: 32px;
}
#icon-enter .path1 {
	fill: currentcolor;
}
.icon-exit {
	width: 32px;
	height: 32px;
}
#icon-exit .path1 {
	fill: currentcolor;
}
.icon-play2 {
	width: 32px;
	height: 32px;
}
#icon-play2 .path1 {
	fill: currentcolor;
}
.icon-pause {
	width: 32px;
	height: 32px;
}
#icon-pause .path1 {
	fill: currentcolor;
}
.icon-stop {
	width: 32px;
	height: 32px;
}
#icon-stop .path1 {
	fill: currentcolor;
}
.icon-backward {
	width: 32px;
	height: 32px;
}
#icon-backward .path1 {
	fill: currentcolor;
}
.icon-forward2 {
	width: 32px;
	height: 32px;
}
#icon-forward2 .path1 {
	fill: currentcolor;
}
.icon-play3 {
	width: 32px;
	height: 32px;
}
#icon-play3 .path1 {
	fill: currentcolor;
}
.icon-pause2 {
	width: 32px;
	height: 32px;
}
#icon-pause2 .path1 {
	fill: currentcolor;
}
.icon-stop2 {
	width: 32px;
	height: 32px;
}
#icon-stop2 .path1 {
	fill: currentcolor;
}
.icon-backward2 {
	width: 32px;
	height: 32px;
}
#icon-backward2 .path1 {
	fill: currentcolor;
}
.icon-forward3 {
	width: 32px;
	height: 32px;
}
#icon-forward3 .path1 {
	fill: currentcolor;
}
.icon-first {
	width: 32px;
	height: 32px;
}
#icon-first .path1 {
	fill: currentcolor;
}
.icon-last {
	width: 32px;
	height: 32px;
}
#icon-last .path1 {
	fill: currentcolor;
}
.icon-previous {
	width: 32px;
	height: 32px;
}
#icon-previous .path1 {
	fill: currentcolor;
}
.icon-next {
	width: 32px;
	height: 32px;
}
#icon-next .path1 {
	fill: currentcolor;
}
.icon-eject {
	width: 32px;
	height: 32px;
}
#icon-eject .path1 {
	fill: currentcolor;
}
.icon-volume-high {
	width: 34px;
	height: 32px;
}
#icon-volume-high .path1 {
	fill: currentcolor;
}
.icon-volume-medium {
	width: 32px;
	height: 32px;
}
#icon-volume-medium .path1 {
	fill: currentcolor;
}
.icon-volume-low {
	width: 32px;
	height: 32px;
}
#icon-volume-low .path1 {
	fill: currentcolor;
}
.icon-volume-mute {
	width: 32px;
	height: 32px;
}
#icon-volume-mute .path1 {
	fill: currentcolor;
}
.icon-volume-mute2 {
	width: 32px;
	height: 32px;
}
#icon-volume-mute2 .path1 {
	fill: currentcolor;
}
.icon-volume-increase {
	width: 32px;
	height: 32px;
}
#icon-volume-increase .path1 {
	fill: currentcolor;
}
.icon-volume-decrease {
	width: 32px;
	height: 32px;
}
#icon-volume-decrease .path1 {
	fill: currentcolor;
}
.icon-loop {
	width: 32px;
	height: 32px;
}
#icon-loop .path1 {
	fill: currentcolor;
}
.icon-loop2 {
	width: 32px;
	height: 32px;
}
#icon-loop2 .path1 {
	fill: currentcolor;
}
.icon-loop3 {
	width: 32px;
	height: 32px;
}
#icon-loop3 .path1 {
	fill: currentcolor;
}
.icon-shuffle {
	width: 32px;
	height: 32px;
}
#icon-shuffle .path1 {
	fill: currentcolor;
}
.icon-arrow-up-left {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-left .path1 {
	fill: currentcolor;
}
.icon-arrow-up {
	width: 32px;
	height: 32px;
}
#icon-arrow-up .path1 {
	fill: currentcolor;
}
.icon-arrow-up-right {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-right .path1 {
	fill: currentcolor;
}
.icon-arrow-right {
	width: 32px;
	height: 32px;
}
#icon-arrow-right .path1 {
	fill: currentcolor;
}
.icon-arrow-down-right {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-right .path1 {
	fill: currentcolor;
}
.icon-arrow-down {
	width: 32px;
	height: 32px;
}
#icon-arrow-down .path1 {
	fill: currentcolor;
}
.icon-arrow-down-left {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-left .path1 {
	fill: currentcolor;
}
.icon-arrow-left {
	width: 32px;
	height: 32px;
}
#icon-arrow-left .path1 {
	fill: currentcolor;
}
.icon-arrow-up-left2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-left2 .path1 {
	fill: currentcolor;
}
.icon-arrow-up2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up2 .path1 {
	fill: currentcolor;
}
.icon-arrow-up-right2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-right2 .path1 {
	fill: currentcolor;
}
.icon-arrow-right2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-right2 .path1 {
	fill: currentcolor;
}
.icon-arrow-down-right2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-right2 .path1 {
	fill: currentcolor;
}
.icon-arrow-down2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down2 .path1 {
	fill: currentcolor;
}
.icon-arrow-down-left2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-left2 .path1 {
	fill: currentcolor;
}
.icon-arrow-left2 {
	width: 32px;
	height: 32px;
}
#icon-arrow-left2 .path1 {
	fill: currentcolor;
}
.icon-arrow-up-left3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-left3 .path1 {
	fill: currentcolor;
}
.icon-arrow-up3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up3 .path1 {
	fill: currentcolor;
}
.icon-arrow-up-right3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-up-right3 .path1 {
	fill: currentcolor;
}
.icon-arrow-right3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-right3 .path1 {
	fill: currentcolor;
}
.icon-arrow-down-right3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-right3 .path1 {
	fill: currentcolor;
}
.icon-arrow-down3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down3 .path1 {
	fill: currentcolor;
}
.icon-arrow-down-left3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-down-left3 .path1 {
	fill: currentcolor;
}
.icon-arrow-left3 {
	width: 32px;
	height: 32px;
}
#icon-arrow-left3 .path1 {
	fill: currentcolor;
}
.icon-tab {
	width: 32px;
	height: 32px;
}
#icon-tab .path1 {
	fill: currentcolor;
}
.icon-checkbox-checked {
	width: 32px;
	height: 32px;
}
#icon-checkbox-checked .path1 {
	fill: currentcolor;
}
.icon-checkbox-unchecked {
	width: 32px;
	height: 32px;
}
#icon-checkbox-unchecked .path1 {
	fill: currentcolor;
}
.icon-checkbox-partial {
	width: 32px;
	height: 32px;
}
#icon-checkbox-partial .path1 {
	fill: currentcolor;
}
.icon-radio-checked {
	width: 32px;
	height: 32px;
}
#icon-radio-checked .path1 {
	fill: currentcolor;
}
.icon-radio-unchecked {
	width: 32px;
	height: 32px;
}
#icon-radio-unchecked .path1 {
	fill: currentcolor;
}
.icon-crop {
	width: 32px;
	height: 32px;
}
#icon-crop .path1 {
	fill: currentcolor;
}
.icon-scissors {
	width: 32px;
	height: 32px;
}
#icon-scissors .path1 {
	fill: currentcolor;
}
.icon-filter {
	width: 32px;
	height: 32px;
}
#icon-filter .path1 {
	fill: currentcolor;
}
.icon-filter2 {
	width: 32px;
	height: 32px;
}
#icon-filter2 .path1 {
	fill: currentcolor;
}
.icon-font {
	width: 32px;
	height: 32px;
}
#icon-font .path1 {
	fill: currentcolor;
}
.icon-text-height {
	width: 32px;
	height: 32px;
}
#icon-text-height .path1 {
	fill: currentcolor;
}
.icon-text-width {
	width: 32px;
	height: 32px;
}
#icon-text-width .path1 {
	fill: currentcolor;
}
.icon-bold {
	width: 32px;
	height: 32px;
}
#icon-bold .path1 {
	fill: currentcolor;
}
.icon-underline {
	width: 32px;
	height: 32px;
}
#icon-underline .path1 {
	fill: currentcolor;
}
.icon-italic {
	width: 32px;
	height: 32px;
}
#icon-italic .path1 {
	fill: currentcolor;
}
.icon-strikethrough {
	width: 32px;
	height: 32px;
}
#icon-strikethrough .path1 {
	fill: currentcolor;
}
.icon-omega {
	width: 32px;
	height: 32px;
}
#icon-omega .path1 {
	fill: currentcolor;
}
.icon-sigma {
	width: 32px;
	height: 32px;
}
#icon-sigma .path1 {
	fill: currentcolor;
}
.icon-table {
	width: 32px;
	height: 32px;
}
#icon-table .path1 {
	fill: currentcolor;
}
.icon-table2 {
	width: 32px;
	height: 32px;
}
#icon-table2 .path1 {
	fill: currentcolor;
}
.icon-insert-template {
	width: 32px;
	height: 32px;
}
#icon-insert-template .path1 {
	fill: currentcolor;
}
.icon-pilcrow {
	width: 32px;
	height: 32px;
}
#icon-pilcrow .path1 {
	fill: currentcolor;
}
.icon-lefttoright {
	width: 32px;
	height: 32px;
}
#icon-lefttoright .path1 {
	fill: currentcolor;
}
.icon-righttoleft {
	width: 32px;
	height: 32px;
}
#icon-righttoleft .path1 {
	fill: currentcolor;
}
.icon-paragraph-left {
	width: 32px;
	height: 32px;
}
#icon-paragraph-left .path1 {
	fill: currentcolor;
}
.icon-paragraph-center {
	width: 32px;
	height: 32px;
}
#icon-paragraph-center .path1 {
	fill: currentcolor;
}
.icon-paragraph-right {
	width: 32px;
	height: 32px;
}
#icon-paragraph-right .path1 {
	fill: currentcolor;
}
.icon-paragraph-justify {
	width: 32px;
	height: 32px;
}
#icon-paragraph-justify .path1 {
	fill: currentcolor;
}
.icon-paragraph-left2 {
	width: 32px;
	height: 32px;
}
#icon-paragraph-left2 .path1 {
	fill: currentcolor;
}
.icon-paragraph-center2 {
	width: 32px;
	height: 32px;
}
#icon-paragraph-center2 .path1 {
	fill: currentcolor;
}
.icon-paragraph-right2 {
	width: 32px;
	height: 32px;
}
#icon-paragraph-right2 .path1 {
	fill: currentcolor;
}
.icon-paragraph-justify2 {
	width: 32px;
	height: 32px;
}
#icon-paragraph-justify2 .path1 {
	fill: currentcolor;
}
.icon-indent-increase {
	width: 32px;
	height: 32px;
}
#icon-indent-increase .path1 {
	fill: currentcolor;
}
.icon-indent-decrease {
	width: 32px;
	height: 32px;
}
#icon-indent-decrease .path1 {
	fill: currentcolor;
}
.icon-newtab {
	width: 32px;
	height: 32px;
}
#icon-newtab .path1 {
	fill: currentcolor;
}
.icon-embed {
	width: 32px;
	height: 32px;
}
#icon-embed .path1 {
	fill: currentcolor;
}
.icon-code {
	width: 32px;
	height: 32px;
}
#icon-code .path1 {
	fill: currentcolor;
}
.icon-console {
	width: 32px;
	height: 32px;
}
#icon-console .path1 {
	fill: currentcolor;
}
.icon-share {
	width: 32px;
	height: 32px;
}
#icon-share .path1 {
	fill: currentcolor;
}
.icon-mail {
	width: 32px;
	height: 32px;
}
#icon-mail .path1 {
	fill: currentcolor;
}
.icon-mail2 {
	width: 32px;
	height: 32px;
}
#icon-mail2 .path1 {
	fill: currentcolor;
}
.icon-mail3 {
	width: 32px;
	height: 32px;
}
#icon-mail3 .path1 {
	fill: currentcolor;
}
.icon-mail4 {
	width: 32px;
	height: 32px;
}
#icon-mail4 .path1 {
	fill: currentcolor;
}
.icon-google {
	width: 32px;
	height: 32px;
}
#icon-google .path1 {
	fill: currentcolor;
}
.icon-googleplus {
	width: 32px;
	height: 32px;
}
#icon-googleplus .path1 {
	fill: currentcolor;
}
.icon-googleplus2 {
	width: 32px;
	height: 32px;
}
#icon-googleplus2 .path1 {
	fill: currentcolor;
}
.icon-googleplus3 {
	width: 32px;
	height: 32px;
}
#icon-googleplus3 .path1 {
	fill: currentcolor;
}
.icon-googleplus4 {
	width: 32px;
	height: 32px;
}
#icon-googleplus4 .path1 {
	fill: currentcolor;
}
.icon-google-drive {
	width: 32px;
	height: 32px;
}
#icon-google-drive .path1 {
	fill: currentcolor;
}
.icon-facebook {
	width: 32px;
	height: 32px;
}
#icon-facebook .path1 {
	fill: currentcolor;
}
.icon-facebook2 {
	width: 32px;
	height: 32px;
}
#icon-facebook2 .path1 {
	fill: currentcolor;
}
.icon-facebook3 {
	width: 32px;
	height: 32px;
}
#icon-facebook3 .path1 {
	fill: currentcolor;
}
.icon-instagram {
	width: 32px;
	height: 32px;
}
#icon-instagram .path1 {
	fill: currentcolor;
}
.icon-twitter {
	width: 32px;
	height: 32px;
}
#icon-twitter .path1 {
	fill: currentcolor;
}
.icon-twitter2 {
	width: 32px;
	height: 32px;
}
#icon-twitter2 .path1 {
	fill: currentcolor;
}
.icon-twitter3 {
	width: 32px;
	height: 32px;
}
#icon-twitter3 .path1 {
	fill: currentcolor;
}
.icon-feed2 {
	width: 32px;
	height: 32px;
}
#icon-feed2 .path1 {
	fill: currentcolor;
}
.icon-feed3 {
	width: 32px;
	height: 32px;
}
#icon-feed3 .path1 {
	fill: currentcolor;
}
.icon-feed4 {
	width: 32px;
	height: 32px;
}
#icon-feed4 .path1 {
	fill: currentcolor;
}
.icon-youtube {
	width: 32px;
	height: 32px;
}
#icon-youtube .path1 {
	fill: currentcolor;
}
.icon-youtube2 {
	width: 32px;
	height: 32px;
}
#icon-youtube2 .path1 {
	fill: currentcolor;
}
.icon-vimeo {
	width: 32px;
	height: 32px;
}
#icon-vimeo .path1 {
	fill: currentcolor;
}
.icon-vimeo2 {
	width: 32px;
	height: 32px;
}
#icon-vimeo2 .path1 {
	fill: currentcolor;
}
.icon-vimeo3 {
	width: 32px;
	height: 32px;
}
#icon-vimeo3 .path1 {
	fill: currentcolor;
}
.icon-lanyrd {
	width: 32px;
	height: 32px;
}
#icon-lanyrd .path1 {
	fill: currentcolor;
}
.icon-flickr {
	width: 32px;
	height: 32px;
}
#icon-flickr .path1 {
	fill: currentcolor;
}
.icon-flickr2 {
	width: 32px;
	height: 32px;
}
#icon-flickr2 .path1 {
	fill: currentcolor;
}
.icon-flickr3 {
	width: 32px;
	height: 32px;
}
#icon-flickr3 .path1 {
	fill: currentcolor;
}
.icon-flickr4 {
	width: 32px;
	height: 32px;
}
#icon-flickr4 .path1 {
	fill: currentcolor;
}
.icon-picassa {
	width: 32px;
	height: 32px;
}
#icon-picassa .path1 {
	fill: currentcolor;
}
.icon-picassa2 {
	width: 32px;
	height: 32px;
}
#icon-picassa2 .path1 {
	fill: currentcolor;
}
.icon-dribbble {
	width: 32px;
	height: 32px;
}
#icon-dribbble .path1 {
	fill: currentcolor;
}
.icon-dribbble2 {
	width: 32px;
	height: 32px;
}
#icon-dribbble2 .path1 {
	fill: currentcolor;
}
.icon-dribbble3 {
	width: 32px;
	height: 32px;
}
#icon-dribbble3 .path1 {
	fill: currentcolor;
}
.icon-forrst {
	width: 32px;
	height: 32px;
}
#icon-forrst .path1 {
	fill: currentcolor;
}
.icon-forrst2 {
	width: 32px;
	height: 32px;
}
#icon-forrst2 .path1 {
	fill: currentcolor;
}
.icon-deviantart {
	width: 32px;
	height: 32px;
}
#icon-deviantart .path1 {
	fill: currentcolor;
}
.icon-deviantart2 {
	width: 32px;
	height: 32px;
}
#icon-deviantart2 .path1 {
	fill: currentcolor;
}
.icon-steam {
	width: 32px;
	height: 32px;
}
#icon-steam .path1 {
	fill: currentcolor;
}
.icon-steam2 {
	width: 32px;
	height: 32px;
}
#icon-steam2 .path1 {
	fill: currentcolor;
}
.icon-github {
	width: 32px;
	height: 32px;
}
#icon-github .path1 {
	fill: currentcolor;
}
.icon-github2 {
	width: 32px;
	height: 32px;
}
#icon-github2 .path1 {
	fill: currentcolor;
}
.icon-github3 {
	width: 32px;
	height: 32px;
}
#icon-github3 .path1 {
	fill: currentcolor;
}
.icon-github4 {
	width: 32px;
	height: 32px;
}
#icon-github4 .path1 {
	fill: currentcolor;
}
.icon-github5 {
	width: 32px;
	height: 32px;
}
#icon-github5 .path1 {
	fill: currentcolor;
}
.icon-wordpress {
	width: 32px;
	height: 32px;
}
#icon-wordpress .path1 {
	fill: currentcolor;
}
.icon-wordpress2 {
	width: 32px;
	height: 32px;
}
#icon-wordpress2 .path1 {
	fill: currentcolor;
}
.icon-joomla {
	width: 32px;
	height: 32px;
}
#icon-joomla .path1 {
	fill: currentcolor;
}
.icon-blogger {
	width: 32px;
	height: 32px;
}
#icon-blogger .path1 {
	fill: currentcolor;
}
.icon-blogger2 {
	width: 32px;
	height: 32px;
}
#icon-blogger2 .path1 {
	fill: currentcolor;
}
.icon-tumblr {
	width: 32px;
	height: 32px;
}
#icon-tumblr .path1 {
	fill: currentcolor;
}
.icon-tumblr2 {
	width: 32px;
	height: 32px;
}
#icon-tumblr2 .path1 {
	fill: currentcolor;
}
.icon-yahoo {
	width: 32px;
	height: 32px;
}
#icon-yahoo .path1 {
	fill: currentcolor;
}
.icon-tux {
	width: 32px;
	height: 32px;
}
#icon-tux .path1 {
	fill: currentcolor;
}
.icon-apple {
	width: 32px;
	height: 32px;
}
#icon-apple .path1 {
	fill: currentcolor;
}
.icon-finder {
	width: 32px;
	height: 32px;
}
#icon-finder .path1 {
	fill: currentcolor;
}
.icon-android {
	width: 32px;
	height: 32px;
}
#icon-android .path1 {
	fill: currentcolor;
}
.icon-windows {
	width: 32px;
	height: 32px;
}
#icon-windows .path1 {
	fill: currentcolor;
}
.icon-windows8 {
	width: 32px;
	height: 32px;
}
#icon-windows8 .path1 {
	fill: currentcolor;
}
.icon-soundcloud {
	width: 32px;
	height: 32px;
}
#icon-soundcloud .path1 {
	fill: currentcolor;
}
.icon-soundcloud2 {
	width: 32px;
	height: 32px;
}
#icon-soundcloud2 .path1 {
	fill: currentcolor;
}
.icon-skype {
	width: 32px;
	height: 32px;
}
#icon-skype .path1 {
	fill: currentcolor;
}
.icon-reddit {
	width: 32px;
	height: 32px;
}
#icon-reddit .path1 {
	fill: currentcolor;
}
.icon-linkedin {
	width: 32px;
	height: 32px;
}
#icon-linkedin .path1 {
	fill: currentcolor;
}
.icon-lastfm {
	width: 32px;
	height: 32px;
}
#icon-lastfm .path1 {
	fill: currentcolor;
}
.icon-lastfm2 {
	width: 32px;
	height: 32px;
}
#icon-lastfm2 .path1 {
	fill: currentcolor;
}
.icon-delicious {
	width: 32px;
	height: 32px;
}
#icon-delicious .path1 {
	fill: currentcolor;
}
.icon-stumbleupon {
	width: 32px;
	height: 32px;
}
#icon-stumbleupon .path1 {
	fill: currentcolor;
}
.icon-stumbleupon2 {
	width: 32px;
	height: 32px;
}
#icon-stumbleupon2 .path1 {
	fill: currentcolor;
}
.icon-stackoverflow {
	width: 32px;
	height: 32px;
}
#icon-stackoverflow .path1 {
	fill: currentcolor;
}
.icon-pinterest {
	width: 32px;
	height: 32px;
}
#icon-pinterest .path1 {
	fill: currentcolor;
}
.icon-pinterest2 {
	width: 32px;
	height: 32px;
}
#icon-pinterest2 .path1 {
	fill: currentcolor;
}
.icon-xing {
	width: 32px;
	height: 32px;
}
#icon-xing .path1 {
	fill: currentcolor;
}
.icon-xing2 {
	width: 32px;
	height: 32px;
}
#icon-xing2 .path1 {
	fill: currentcolor;
}
.icon-flattr {
	width: 32px;
	height: 32px;
}
#icon-flattr .path1 {
	fill: currentcolor;
}
.icon-foursquare {
	width: 32px;
	height: 32px;
}
#icon-foursquare .path1 {
	fill: currentcolor;
}
.icon-foursquare2 {
	width: 32px;
	height: 32px;
}
#icon-foursquare2 .path1 {
	fill: currentcolor;
}
.icon-paypal {
	width: 32px;
	height: 32px;
}
#icon-paypal .path1 {
	fill: currentcolor;
}
.icon-paypal2 {
	width: 32px;
	height: 32px;
}
#icon-paypal2 .path1 {
	fill: currentcolor;
}
.icon-paypal3 {
	width: 32px;
	height: 32px;
}
#icon-paypal3 .path1 {
	fill: currentcolor;
}
.icon-yelp {
	width: 32px;
	height: 32px;
}
#icon-yelp .path1 {
	fill: currentcolor;
}
.icon-libreoffice {
	width: 32px;
	height: 32px;
}
#icon-libreoffice .path1 {
	fill: currentcolor;
}
.icon-file-pdf {
	width: 32px;
	height: 32px;
}
#icon-file-pdf .path1 {
	fill: currentcolor;
}
.icon-file-openoffice {
	width: 32px;
	height: 32px;
}
#icon-file-openoffice .path1 {
	fill: currentcolor;
}
.icon-file-word {
	width: 32px;
	height: 32px;
}
#icon-file-word .path1 {
	fill: currentcolor;
}
.icon-file-excel {
	width: 32px;
	height: 32px;
}
#icon-file-excel .path1 {
	fill: currentcolor;
}
.icon-file-zip {
	width: 32px;
	height: 32px;
}
#icon-file-zip .path1 {
	fill: currentcolor;
}
.icon-file-powerpoint {
	width: 32px;
	height: 32px;
}
#icon-file-powerpoint .path1 {
	fill: currentcolor;
}
.icon-file-xml {
	width: 32px;
	height: 32px;
}
#icon-file-xml .path1 {
	fill: currentcolor;
}
.icon-file-css {
	width: 32px;
	height: 32px;
}
#icon-file-css .path1 {
	fill: currentcolor;
}
.icon-html5 {
	width: 32px;
	height: 32px;
}
#icon-html5 .path1 {
	fill: currentcolor;
}
.icon-html52 {
	width: 32px;
	height: 32px;
}
#icon-html52 .path1 {
	fill: currentcolor;
}
.icon-css3 {
	width: 32px;
	height: 32px;
}
#icon-css3 .path1 {
	fill: currentcolor;
}
.icon-chrome {
	width: 32px;
	height: 32px;
}
#icon-chrome .path1 {
	fill: currentcolor;
}
.icon-firefox {
	width: 32px;
	height: 32px;
}
#icon-firefox .path1 {
	fill: currentcolor;
}
.icon-IE {
	width: 32px;
	height: 32px;
}
#icon-IE .path1 {
	fill: currentcolor;
}
.icon-opera {
	width: 32px;
	height: 32px;
}
#icon-opera .path1 {
	fill: currentcolor;
}
.icon-safari {
	width: 32px;
	height: 32px;
}
#icon-safari .path1 {
	fill: currentcolor;
}
.icon-IcoMoon {
	width: 32px;
	height: 32px;
}
#icon-IcoMoon .path1 {
	fill: currentcolor;
}
